.sidebar-menu {
    padding: 0 !important;
    height: auto !important;
}
nav.sidebar {
    padding: 0;
}

.footer {
    height: 100px;
}

.navbar {
    height: 60px;
    opacity: 0.9;
}

ul > li > a.nav-link {
    width: 210px !important;
}

a.nav-link.text-white {
    font-size: 15px;
    margin-left: 20px;
}
